
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 40px;
    height: 40px;
    border: 2.5px solid;
    border-radius: 50px;
    margin-right: 10px;
  }
  
.drag-box .material-symbols-outlined{
    font-size: 40px; 
  }

  

  .upload-box{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: var(--main-text-color);
    background-color: var(--container-back-color);
    border-radius: 24px;
    padding: 20px;
    gap: 20px;
  }


  .drag-box-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 8px;
  }
  .drag-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
    height: 200px;
    padding:16px;
    border-radius: 20px;
    border: 2px dashed #ccc;
  }
  .drag-box.active{
  
    background-color: var(--container-back-color-hover);
    border: 2px dashed var(--sub-text-color) !important;
  
  }
  .drag-box:hover{
    background-color: var(--container-back-color-hover);
    border: 2px dashed var(--sub-text-color) !important;
    cursor: pointer;
  }
  .drag-box-main-text{
    font-family: 'Pretendard-SemiBold', sans-serif; 
    font-size: 1.0rem;
  }
  .drag-box-sub-text{
    color: var(--sub-text-color) !important;
  }
  .upload-file-container{
    background-color: var(--sub-color);
    border-radius: 12px;
    padding: 8px;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
  .upload-file-icon-container{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .upload-file-icon-container img{
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-list{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .file-list.material-symbols-outlined{
    font-size: 28px;
  }