
  .extracted-box{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: var(--main-text-color);
    background-color: var(--container-back-color);
    border-radius: 24px;
    padding: 20px;
    gap: 20px;
  }
  .extracted-selected-container img{
    width: 80%;
    height: 240px;
    border-radius: 10px;  /* 이미지의 테두리 반경 */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);  /* 그림자 효과 */
    margin-bottom: 20px;  /* 하단 여백 */
  }

  .image-list-container img {
    
    height: 80px;
    cursor: pointer;
    border-radius: 4px;  
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);  /* 그림자 효과 */
  }
  .image-list-container {
    display: flex;
    width: 80%;
    height: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 12px;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    padding:20px
  }
  
  .image-thumbnail {
    width: 100px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .thumbnail.selected {
    border: 2px solid var(--main-color);
  }

  /* 스크롤바 전체의 스타일을 설정합니다 */
.image-list-container::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
  height: 8px; /* 가로 스크롤바의 높이 */
}

/* 스크롤바 트랙 (바탕) */
.image-list-container::-webkit-scrollbar-track {
  background:white ; /* 트랙의 배경 색 */
  border-radius: 10px; /* 트랙의 모서리 둥글게 */
}

/* 스크롤바 핸들 (움직이는 부분) */
.image-list-container::-webkit-scrollbar-thumb {
  background: #D9D9D9; /* 핸들의 배경 색 */
  border-radius: 10px; /* 핸들의 모서리 둥글게 */
}

/* 스크롤바 핸들의 호버 상태 */
.image-list-container::-webkit-scrollbar-thumb:hover {
  background: var(--sub-text-color); /* 호버 시 핸들의 배경 색 변경 */
}