accelerate==0.32.1
anyio==4.4.0
asgiref==3.8.1
astor==0.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
Cython==3.0.10
decorator==5.1.1
Django==5.0.7
django-cors-headers==4.4.0
djangorestframework==3.15.2
efficientnet_pytorch==0.7.1
exceptiongroup==1.2.2
filelock==3.15.4
fire==0.6.0
fonttools==4.53.1
fsspec==2024.6.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.4
idna==3.7
imageio==2.34.2
imgaug==0.4.0
Jinja2==3.1.4
kiwisolver==1.4.5
lazy_loader==0.4
lmdb==1.5.1
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.9.1
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
paddleocr==2.8.0
paddlepaddle==2.6.1
pdf2docx==0.5.8
pdfminer.six==20231228
pdfplumber==0.11.2
pillow==10.4.0
protobuf==5.27.2
psutil==6.0.0
pyclipper==1.3.0.post5
pycparser==2.22
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
pyparsing==3.1.2
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-pptx==0.6.23
PyYAML==6.0.1
rapidfuzz==3.9.4
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
scikit-image==0.24.0
scipy==1.14.0
shapely==2.0.5
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
sqlparse==0.5.0
sympy==1.13.0
termcolor==2.4.0
tifffile==2024.7.2
tokenizers==0.19.1
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.42.4
typing_extensions==4.12.2
urllib3==2.2.2
XlsxWriter==3.2.0
